/**
 * Basic typography style for copy text
 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: $text-font-stack;
  color: $text-color;
  font-size: $base-font-size;
  font-weight: $regular-font-weight;
  background-repeat: no-repeat;
}
// .ndb-wrapper {
//   width: 100%;
//   height: 100vh;
// }

.home,
.company,
.sustainability,
.technology,
.investors,
.news,
.careers,
.contact,
.shop {
  &-page {
    position: relative;
  }
}

.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.bottom-20 {
  bottom: -20%;
}
.middle {
  top: 50%;
  transform: translateY(-50%);
}
.top {
  top: 0;
}
.middle-4 {
  top: 40%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fullWidth {
  padding-left: 0 !important;
  padding-right: 0 !important;
  // width: 100vw !important;
}
