.technology {
  &__collapsible-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: green;
    padding: px2rem(56);
    height: clamp(200px, 433px, 433px);
    * {
      border: 1px solid;
    }
    &__content {
      text-align: center;
    }
    &__title {
      margin-top: 0;
    }
    &__button {
      text-align: center;
    }
    &__button > button {
      background: none;
      cursor: pointer;
    }
  }
  &__section1 {
    position: relative;
    padding: 8rem 0 0;
    .overlay1,
    .overlay2 {
      position: absolute;
      font-size: 180px;
      font-weight: $bold-font-weight;
      text-transform: uppercase;
      color: rgba($color: #000000, $alpha: 4%);
    }
    &-title {
      display: block;
      font-size: px2rem(36);
      font-weight: $semibold-font-weight;
      text-align: center;
      margin: 0 auto;
      max-width: 80%;
    }
    .section-content {
      font-size: px2rem(20);
      font-weight: $medium-font-weight;
      text-align: justify;
      line-height: 33px;
      margin: px2rem(35) auto;
    }
    .section-image {
      padding: px2rem(10);
      text-align: center;
    }
    .section-quote {
      position: relative;
      font-size: px2rem(22);
      font-weight: $semibold-font-weight;
      margin-top: 85px;
      margin-bottom: 70px;
      padding: 3rem;
      text-align: center;
      img:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
      }
      img:nth-child(2) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  &__gridOverlay {
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // grid-auto-rows: minmax(px2rem(200), px2rem(500));
    // gap: 1rem;
    margin-top: px2rem(170);
    .gridOverlay__head {
    }
    .grid-title {
      text-align: center;
      font-size: px2rem(36);
      font-weight: $semibold-font-weight;
    }
    .grid-desc {
      text-align: justify;
      margin: px2rem(30) auto;
      font-size: px2rem(20);
      font-weight: $regular-font-weight;
    }

    .gridOverlay__content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: minmax(px2rem(200), px2rem(500));
      gap: 1rem;
    }
    .gridOverlay__item {
      position: relative;
      grid-column: auto / span 2;
      background: $gray;
      padding: px2rem(50);
      text-align: justify;
      p {
        font-size: px2rem(18);
        font-weight: $medium-font-weight;
        line-height: px2rem(25);
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        // background: radial-gradient($white-faded 0%, $gray-faded 100%);
        background: $gray-faded;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: background 0.5s;
        @include on-event {
          background: transparent;
          .overlay-title,
          span {
            color: transparent;
          }
        }
        span {
          font-size: px2rem(20);
          font-weight: $medium-font-weight;
          transition: 0.5s;
        }
      }
      .overlay-title {
        font-size: px2rem(36);
        color: $black-faded;
        font-weight: $semibold-font-weight;
        transition: 0.5s;
      }
    }
    .gridOverlay__item:nth-child(1),
    .gridOverlay__item:nth-child(2) {
      grid-column: auto / span 3;
    }
    //! for the lower height grid
    .smallGrid {
      grid-auto-rows: minmax(px2rem(150), px2rem(260));
      .gridOverlay__item {
        grid-column: auto / span 3;
      }
      & .gridOverlay__item:nth-child(1) {
        grid-column: auto / span 6;
      }
    }
  }
  &__ndb-circuit {
    position: relative;
    // height: clamp(100vh, 200vh, 200vh);
    margin-top: px2rem(100);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, minmax(px2rem(10), px2rem(50)));
    gap: 10px;

    img {
      z-index: -1;
    }
    .circuit__gridItem {
      font-size: px2rem(20);
      font-weight: $regular-font-weight;
      line-height: px2rem(28);
    }
    .circuit__gridItem:nth-child(1) {
      grid-column: 5 / span 4;
      grid-row: 3 / span 4;
      // background: red;
    }
    .circuit__gridItem:nth-child(2) {
      grid-column: 9 / span 4;
      grid-row: 8 / span 4;
      // background: red;
    }
    .circuit__gridItem:nth-child(3) {
      grid-column: 5 / span 4;
      grid-row: 14 / span 4;
      // background: red;
    }
    .circuit__gridItem:nth-child(4) {
      grid-column: 9 / span 4;
      grid-row: 19 / span 4;
      // background: red;
    }
    .circuit__gridItem:nth-child(5) {
      grid-column: auto / span 12;
      grid-row: -1;
      align-self: center;
      text-align: center;
      font-size: px2rem(16);
      font-weight: $light-font-weight;
    }
  }
}

// .read-more {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
