// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.home,
.company,
.sustainability,
.technology,
.investors,
.news,
.careers,
.contact,
.shop {
  &__banner {
    position: relative;
    //  max-height: px2rem(600);
    height: clamp(200px, 600px, 600px);
    display: flex;
    justify-content: space-between;
    padding-top: px2rem(50);
  }
}
.banner__overlay {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.banner__left {
  display: flex;
  flex: 0.7;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  //   height: 100%;
}
.banner__description {
  font-size: px2rem(30);
  font-weight: $bold-font-weight;
  max-width: 50%;
  margin-top: 3.25rem;
}
.banner__button {
  display: flex;
  flex-direction: column;
  // flex: 0.2;
  margin-bottom: 7rem;
  img {
    transition: transform $trasform-duration;
  }
  &:hover img {
    transform: translateX(10px);
  }
  span {
    font-size: px2rem(30);
    font-weight: $bold-font-weight;
  }
}
