// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.home,
.company,
.sustainability,
.technology,
.investors,
.news,
.careers,
.contact,
.shop {
  &__banner {
    position: relative;
    //  max-height: px2rem(600);
    height: 600px;
  }
}
.banner__overlay {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: contain;
  //   z-index: -1;
  //   object-fit: cover;
  //   z-index: -1;
  //   object-position: -20rem;

  //   position: absolute;
  //   top: 50%;
  //   left: 30%;
  //   transform: translate(-50%, -50%);
  //   width: 100%;
  //   z-index: -1;
}
.banner__left {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  //   height: 100%;
}
.banner__button {
  display: flex;
  flex-direction: column;
  // flex: 0.2;
  margin-bottom: 7rem;
  &img:hover {
    transform: translateX(10px);
  }
}
