/**
 * Basic typography style for copy text
 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: $text-font-stack;
  font-size: $base-font-size;
  // font-weight: $regular-font-weight;
  background-repeat: no-repeat;
}

body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
