#root {
  height: 100%;
}
.mySwiper {
}
.mySwiper .swiperNav__left,
.mySwiper .swiperNav__right {
  position: absolute;
  top: 0;
  z-index: 10;
}
.mySwiper .swiperNav__left {
  left: 0;
}
.mySwiper .swiperNav__right {
  right: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */
  height: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// -----------------
.carousel-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3rem;
  img {
    width: 100%;
    filter: saturate(100%);
    transition: all 0.3s !important;
    &:hover {
      filter: saturate(0%);
    }
  }
}
.carousel-grid__content {
  margin: 1rem auto;
  height: 100%;
  .author {
    margin-bottom: 0.5rem;
  }
  .title {
    font-size: px2rem(20);
    font-weight: $semibold-font-weight;
    line-height: px2rem(24);
  }
}
.carousel-grid__content .author,
.carousel-grid__publishedDate {
  font-size: px2rem(14);
  font-weight: $regular-font-weight;
  line-height: px2rem(17);
}

.carousel-grid__publishedDate {
}
