.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, 412px);
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    position: relative;
    img {
      position: absolute;
      z-index: -1;
    }
    .content {
      font-size: px2rem(20);
      align-items: center;
      color: $white;
      line-height: 33px;
    }
    .title,.content{
       width: 60%;
    }
  }
}
