.block-tabs {
  display: flex;
  justify-content: space-between;
}
.tab-names {
  display: flex;
}
.tabs-with-carousel {
  font-size: px2rem(24);
  font-weight: $semibold-font-weight;
  padding: 15px;
  text-align: center;
  width: 50%;
  background: none;
  cursor: pointer;
  border-bottom: none;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: $black-faded;
  &__content {
    background: white;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    display: none;
  }
}
.tabs:not(:last-child) {
  //   border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  color: $text-color;
  //   background: white;
  //   border-bottom: 1px solid transparent;
}

// .active-tabs::before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: -5px;
//   left: 50%;
//   transform: translateX(-50%);
//   width: calc(100% + 2px);
//   height: 5px;
//   background: rgb(88, 147, 241);
// }

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}

// .content h2 {
//   padding: 0px 0 5px 0px;
// }
// .content hr {
//   width: 100px;
//   height: 2px;
//   background: #222;
//   margin-bottom: 5px;
// }
// .content p {
//   width: 100%;
//   height: 100%;
// }
.active-content {
  display: block;
}
.arrow-move__Left {
  transform: rotate(90deg);
  &:hover img {
    transform: translateY(10px);
  }
}
.arrow-move__Right {
  transform: rotate(-90deg);
  &:hover img {
    transform: translateY(10px);
  }
}
.arrow-move__Right,
.arrow-move__Left {
  border: none;
  cursor: pointer;
  background: none;
}
.arrow-move__Left img,
.arrow-move__Right img {
  transition: all 0.3s;
}
